form {
    width: 500px;
}
label {
    margin-right: 20px;
}
textarea {
    resize: none;
    height: 150px;
}
.area {
    display: flex;
    width: 150px;
}
.box {
    display: inline;
}

input[type="checkbox"] {
    display: none;
}
.new {
    display: flex;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    padding-top: 13px;
}
.container input {
    position: absolute;
    left: -9999px;
}
.checkmark {
    position: absolute;
    top: 4px;
    left: 2px;
    height: 20px;
    width: 25px;
    padding-bottom: 6px;
    padding-top: 0;
    border: 1px solid rgb(240, 255, 240);
    border-radius: 20%;
    background-color: rgb(50, 126, 241);
}
.container input:checked ~ .checkmark {
    background-color: rgb(240, 255, 240);
}
.container .checkmark::after {
    content: "\2714";
    position: absolute;
    display: none;
    left: 2px;
    padding: 0px 3px 6px;
    top: 4px;
    height: 15px;
    width: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(147, 219, 39);
    border: 1px solid rgb(83, 209, 45);
    border-radius: 20%;
}
.container input:checked ~ .checkmark::after {
    display: block;
}



